<html>

<head>
	<link rel="stylesheet" type="text/css" href="static/styles/styles.css">
	</link>
	<style>
		form {
			font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		}

		.form-style-2-heading {

			font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		}
	</style>
</head>

<body>
	<div class="form-style-2">
		<div class="form-style-2-heading"><b>Kindly fill all the questions below</b></div><br />
		<form action="/resume" method="POST">
			<label for="user_name"><span>Name: </span><input type="text" class="input-field" name="user_name" value=""
					placeholder="Enter Name" /></label><br /><br />
			<label for="email_id"><span>Email: </span><input type="text" class="input-field" name="email_id" value=""
					placeholder="Enter mail id" /></label><br /><br />
			<label for="contact_number"><span>Phone: </span><input type="number" class="input-field"
					name="contact_number" value="" placeholder="Enter phone number" /></label><br /><br />
			<label for="grade"><span>Grade: </span><input type="text" class="input-field" name="grade" value=""
					placeholder="Enter Grade" /></label><br /><br />
			<label for="school_name"><span>School: </span><input type="text" class="input-field" name="school_name"
					value="" placeholder="Enter School Name" /></label><br /><br />
			<label for="percentage"><span>Percentage: </span><input type="text" class="input-field" name="percentage"
					value="" placeholder="Enter Total Percentage" /></label><br /><br />
			<label for="year"><span>Year: </span><input type="text" class="input-field" name="year" value=""
					placeholder="Enter year of Education" /></label><br /><br />
			<label for="independent_course"><span>Independent Course: </span>
				<select name="independent_course" class="select-field">
					<option value="HTML, CSS, JS">HTML, CSS, JS</option>
					<option value="Machine Learning">Machine Learning</option>
					<option value="Data Science">Data Science</option>
				</select>
			</label><br /><br />
			<label for="dob"><span>D.O.B: </span><input type="date" class="input-field" name="dob" value=""
					placeholder="Enter Date of Birth" /></label><br /><br />
			<label for="father_name"><span>Father Name: </span><input type="text" class="input-field" name="father_name"
					value="" placeholder="Enter Father Name" /></label><br /><br />
			<label for="mother_name"><span>Mother Name: </span><input type="text" class="input-field" name="mother_name"
					value="" placeholder="Enter Mother Name" /></label><br /><br />
			<label for="hobbies"><span>Hobbies: </span><input type="text" class="input-field" name="hobbies" value=""
					placeholder="Enter Hobbies" /></label><br /><br />


			<label><span> </span><input type="submit" value="Submit" /></label>
		</form>
	</div>
</body>

</html>